@using RecettesFamille.Data.EntityModel.RecipeSubEntity
@inherits BaseBlockDefinition<BlockImageEntity>

<div class="d-flex justify-center ">
    <MudImage Src="@Block.Image" Fluid="true" Class="rounded-lg" Style="opacity: 0.2;">

    </MudImage>
</div>

@code {
    protected override void OnParametersSet()
    {
        if (Block.Image is null)
        {
            Block.Image = "DALL·E.webp";
        }
    }
}
