@using RecettesFamille.Managers
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<MudThemeProvider IsDarkMode="false" Theme="CustomThemeManager.Customtheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Small" Class="mt-8" Style="height: 100vh;">
        <div class="d-flex flex-column mud-width-full">
            <MudPaper Elevation="25" Class="pa-8" Width="100%" MinHeight="700px">
                @Body
            </MudPaper>
        </div>
    </MudContainer>
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
