@using BitzArt.Blazor.Cookies
@using Blazored.LocalStorage
@using RecettesFamille.Managers
@inherits LayoutComponentBase

<MudThemeProvider @ref="_mudThemeProvider" IsDarkMode="isDarkMode" Theme="CustomThemeManager.Customtheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <MudAppBar Elevation="1" Dense="true">
        @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" /> *@
        <MudButton Href="/" Style="font-weight: bold;" Class="mud-typography mud-typography-body2" Color="Color.Inherit">Recettes famille</MudButton>
        <MudSpacer />
        <MudToggleIconButton ToggledChanged="OnToggledChanged"
                             Icon="@Icons.Material.Outlined.DarkMode"
                             ToggledIcon="@Icons.Material.Filled.LightMode"
                             ToggledColor="@Color.Error" />

    </MudAppBar>

    <CustomErrorBoundary>
        <MudMainContent Class="mt-12 pa-4">
            <MudContainer MaxWidth="MaxWidth.Large">
                @Body
            </MudContainer>
        </MudMainContent>
    </CustomErrorBoundary>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject] private IHttpContextAccessor HttpContextAccessor { get; set; } = null!;
    [Inject] private ICookieService CookieService { get; set; } = null!;

    private bool isDarkMode = false;
    private MudThemeProvider _mudThemeProvider;

    protected async override Task OnInitializedAsync()
    {
        var cookie = await CookieService.GetAsync("userPreferenceDarkMode");
        bool? userPreferenceDarkMode = bool.TryParse(cookie?.Value, out var result) && result;

        isDarkMode = userPreferenceDarkMode ?? await _mudThemeProvider.GetSystemPreference();
    }

    private async Task OnToggledChanged(bool isDark)
    {
        isDarkMode = isDark;
        await CookieService.SetAsync("userPreferenceDarkMode", isDark.ToString(), new DateTimeOffset(DateTime.MaxValue));
        StateHasChanged();
    }
}