@using RecettesFamille.Data.EntityModel.RecipeSubEntity
@inherits BaseBlockDefinition<BlockImageEntity>

<div class="d-flex justify-center">
    <MudImage Src="@Block.Image" Fluid="true" Class="rounded-lg" >

    </MudImage>
</div>

@code {
    protected override void OnParametersSet()
    {
        if (Block.Image is null)
        {
            Block.Image = "https://img.cuisineaz.com/660x495/2013/12/20/i62638-photo-de-cake-aux-tomates-confites.webp";
        }
    }
}
